<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeWorkLesson10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55374A3B1E71E3A600A5FD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55374A541E71E3A600A5FD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55374A5F1E71E3A600A5FD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
