<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55387A861E71C54E00D26144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55387A9F1E71C54E00D26144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55387AAA1E71C54E00D26144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
