<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeWorkLesson21_Animations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>554879BC1EAFEC2800A2AD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554879D51EAFEC2900A2AD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554879E01EAFEC2900A2AD54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
